@import 'variables';

.main{
    margin: 0 auto;
  
    .main-wrapper{
      width: $width-wrapper;
      margin: 0 auto;
      margin-bottom: 5px;
  
      @media (max-width: 1200px) {
        width: 95%;
        margin: 0 auto;
      }
  
      .main-wrapper__info{
        font-family: $popins;
        font-weight: 700;
        padding-left: 10px;
      }
      
      .main-wrapper-cards{
        width: auto;
        height: auto;
        // display: inline-flex;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: flex-start;
        margin-bottom: 30px;

        @media (max-width: 1200px) {
          width: 99%;
        }

        @media (max-width: 470px) {
          justify-content: center;
        }

        .main-wrapper-cards-container{
          font-family: $aleo;
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 140px;
          border: 2px solid rgb(228, 228, 228);
          border-radius: 5px;
          padding: 5px;

          @media (max-width: 1200px) {
            width: 16%;
          }

          @media (max-width: 900px) {
            width: 19%;
          }

          @media (max-width: 780px) {
            width: 145px;
          }

          @media (max-width: 470px) {
            width: 145px;
          }
  
          .main-wrapper-cards-container__img{
            position: relative;
            margin-bottom: 10px;
            width: 128px;
            height: 180px;
            object-fit:cover;
            border-radius: 7px; 
            border: 1px solid rgb(0, 0, 0); 
            cursor: pointer;
          }
  
          .main-wrapper-cards-container__button_add{
            margin-bottom: 5px;
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid black;
            font-family: $popins;
            font-weight: 400;
            background-color: rgb(218, 122, 241);
            color: white;
            padding: 4px;
            height: 55px;
          }
  
          .main-wrapper-cards-container__title{
            font-size: 26px;
            text-align: center;
          }
  
          .main-wrapper-cards-container__price{
            text-align: center;
            color: #f01313;
            font-size: 22px;
            margin-top: auto;
          }
  
        }
      }

      .main-wrapper-slider {
        width: 1200px;
        height: 300px;
        overflow: hidden;
        position: relative;
        margin-bottom: 30px;
        border-radius: 30px;
    
        @media (max-width: 1200px) {
          width: 95%;
          margin: 0 auto 50px auto;
        }
    
        .main-wrapper-slider-wrapper {
          display: flex;
          transition: transform 0.3s ease; 
    
          .main-wrapper-slider-wrapper-card {
            width: 300px;
            height: 300px;
            background-color: rgb(60, 59, 59);
    
            @media (max-width: 386px) {
              width: 357px;
            }
            
    
            .main-wrapper-slider-wrapper-card-picture {
              object-fit: cover;
              width: 300px;
              height: 300px;
              padding-right: 10px;
    
              @media (max-width: 386px) {
                width: 357px;
              }
            } 
        }
      }
      .main-wrapper-slider__prev, .main-wrapper-slider__next {
        position: absolute;
        top: 120px;
        font-size: 60px;
        padding: 7px;
        height: 60px;
        width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: white;
        background-color: rgb(177, 162, 87);
        border: none;
        border-radius: 50%;
        z-index: 1;
        cursor: pointer;
    
        @media (max-width: 700px) {
          font-size: 40px;
          padding: 5px;
          height: 50px;
          width: 50px;
        }
      }
    
      .main-wrapper-slider__prev {
          left: 10px;
      }
    
      .main-wrapper-slider__next {
          right: 10px;
      }
    }
  }
}





