@import 'variables';

.main{
    margin: 0 auto;
  
    .main-wrapper{
      width: $width-wrapper;
      margin: 0 auto;
      margin-bottom: 5px;
  
      
  
      .main-wrapper__info{
        font-family: $popins;
        font-weight: 700;
        padding-left: 10px;
      }
      
      .main-wrapper-cards{
        width: auto;
        height: auto;
        display: inline-flex;
  
        .main-wrapper-cards-container{
          font-family: $aleo;
  
          .main-wrapper-cards-container__img{
            position: relative;
            margin: 10px;
            width: 128px;
            height: 180px;
            object-fit:cover;
            border-radius: 7px; 
            border: 1px solid rgb(0, 0, 0); 
            cursor: pointer;
          }
  
          .main-wrapper-cards-container__button_add{
            margin-left: 10px;
            margin-bottom: 5px;
            cursor: pointer;
            border-radius: 10px;
            border: 1px solid black;
            font-family: $popins;
            font-weight: 400;
            background-color: rgb(218, 122, 241);
            color: white;
            padding: 4px;
          }
  
          .main-wrapper-cards-container__title{
            padding-left: 10px;
          }
  
          .main-wrapper-cards-container__price{
            padding-left: 10px;
            color: #f01313;
          }
  
        }
      }
    }
  }


.slider {
    width: 1200px;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.slider-wrapper {
    display: flex;
    transition: transform 0.3s ease; /* Анимация смещения */
}

.parag {
    width: 300px;
    height: 400px;
}

.picture {
    object-fit: cover;
    width: 300px;
    height: 400px;
}

.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 60px;
    padding: 7px;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    z-index: 1;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

